<div class="panel panel-default">
  <div class="panel-heading">
    {{ plugin.name }}
  </div>
  <div class="panel-body">
    <div id="{{ plugin.name }}" style="max-height: 250px;"></div>
  </div>
</div>

{% block script %}
<script type="text/javascript">
$(function() {
    Morris.Donut({
        element: '{{ plugin.name }}',
        data: [
            {% for item in data %}
            {label: "{{ item.label }}",
             value: {{ item.value }}},
            {% endfor %}],
        resize: true
    }).on('click', function(i, row){
        console.log(row['label']);
        var url_mask = "{% url 'machine_list' plugin 'abc123' group_type group_id %}".replace(/abc123/, row['label'].toString());
        window.location=url_mask;});});
</script>
{% endblock %}
